<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>粉红色</SiteName>
	 <FileName>model_9105</FileName>
	 <SiteMaster>Realure</SiteMaster>
	 <PubDate>2009-1-5</PubDate>
	 <StyleType>导航两列</StyleType>
	 <summary>粉红色的企业模板，比较适合女性、服饰、娱乐、咨询等公司。</summary>
	 <pic>preview/index_s.gif</pic>
</WebSite>