/* CSS Document */
/* Created by shuanger, 2008-08-30*/
body {margin: 0; padding:0;font-size: 12px; color:#333;}
/*首页部分*/
/*头部*/
#header{ width:950px; height:55px; margin:15px auto; padding:0;}
#nav{ width:750px; height:55px; float:left; background:url(images/nav_top_bg.gif) repeat-x;}
#nav ul{ margin:0; padding:0;}
#nav ul li{ list-style:none; float:left; padding:18px 8px;}
#nav ul li a{ text-decoration:none; color:#fff; }
#nav ul li a:hover{ color:#69c;}
#search{ width:180px; height:55px; float:left; padding: 5px 0 0 10px;}
#search .inputTxt{ width:115px; height:15px; color:#049; border:1px solid #B3C8E8; float:left; margin:0;}
#search .refer{ width:48px; height:19px; background:url(images/search2.gif) no-repeat; border:0; cursor:pointer; float:left;margin:0 0 0 8px;}
/*中部*/
#image{ width:950px; height:244px; margin:0 auto; background:url(images/image3.jpg) no-repeat;}
#content{ width:950px; height:255px; padding:25px 0 15px 0; margin:0 auto;}
#flash{ width:350px; height:255px; float:left; margin:0 15px 0 10px; display:inline;}
#middle{ width:300px; height:255px; float:left;}
#news{ width:300px; height:149px; float:left; background:url(images/news.gif) top no-repeat;}
#news ul{ padding:0; margin:20px 0 0 0; width:298px; height:123px; border:1px #e3e3e3 solid; border-top:none;}
#news ul li{ list-style:none; line-height:25px; padding-left:20px; background:url(images/newslist_arrow.gif) 4px no-repeat;}
#news ul li a{ text-decoration:none; color:#333;}
#news ul li a:hover{ color:#03c; padding:1px 0 0 1px;}
#product{ width:300px; height:95px; float:left; margin-top:10px;}
#product ul{ padding:0; margin:0;}
#product ul li{ list-style:none; padding:8px 10px 0 0; float:left;}
#contact{ width:250px; height:255px; float:left;background:url(images/image8.jpg) no-repeat; margin-left:15px; display:inline;}
/*尾部*/
#footer{ width:950px; height:117px; margin:0 auto; background:url(images/foot_bg.gif) repeat-x;}
#footer .logo2{ margin:30px 20px 0 0; float:left;}
#cprt{ width:474px; height:60px; padding:25px 0 0 200px; float:left;}
#cprt p{ width:474px; height:20px; float:left; text-align:center; color:#999; display:block; padding:0; margin:0;}
/*内容页部分*/
#image2{ width:948px; height:113px; margin:0 auto; background:url(images/common_jpg.jpg) no-repeat; border:1px #ccc solid;}
/*自适应高度*/
#wrap{ width:950px;overflow: hidden; margin:15px auto; padding:0;}
#cleft{ width:150px; float:left; padding:0 10px;}
#cright{ width:780px; float:left; background:url(images/cright_bg.gif) repeat-y;}
#wrap:after{ display: block; height: 0; clear: both; visibility: hidden;}
#wrap{display: inline-block;}
/*\*/
#wrap{display: block;}
/* end easy clearing */
/*\*/
#cleft, #cright{padding-bottom: 32767px !important; margin-bottom: -32767px !important;}
@media all and (min-width: 0px) {
#cleft, #cright{padding-bottom: 0 !important; margin-bottom: 0 !important; }
#cleft:before, #cright:before{ content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; background: inherit; padding-top: 32767px !important; margin-bottom: -32767px !important; height: 0;}
}
/* Created by shuanger, 2008-08-30*/
/*左侧内容*/
#cleft ul{ list-style:none; padding:0; margin:0;}
#cleft ul li{ line-height:20px; padding:6px 0 4px 20px; margin:0; background:url(images/arrow01.gif) 5px 12px no-repeat; border-bottom:1px #ccc dashed;}
#cleft ul li a{ text-decoration:none; color:#333;}
#cleft ul li a:hover{ color:#03c;}
#cleft  .none{ border:none;}
/*右侧内容*/
#cstitle{ padding:10px 15px; margin:0; float:left;}
#cstitle a{margin:0; padding:0; letter-spacing:2px; color:#999; font-weight:bold; text-decoration:none; }
#crs{ width:730px;  border-top:1px solid #ddd; margin:0 15px 20px; padding:10px 5px 0 5px; clear:both;}
/* Created by shuanger, 2008-08-30*/