<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>资讯类模板</SiteName>
	 <FileName>model_shuanger0820</FileName>
	 <SiteMaster>shuanger</SiteMaster>
	 <PubDate>2008-8-20</PubDate>
	 <StyleType>主导航</StyleType>
	 <summary>模版描述概要:企业网。</summary>
	 <pic>preview/index_s.gif</pic>
</WebSite>