<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>白色简洁</SiteName>
	 <FileName>model_813</FileName>
	 <SiteMaster>Realure</SiteMaster>
	 <PubDate>2007-9-26</PubDate>
	 <StyleType>导航两列</StyleType>
	 <summary>白色的企业模板，比较适合IT、咨询、科技等公司。</summary>
	 <pic>preview/index_s.gif</pic>
</WebSite>