<?xml version="1.0" encoding="utf-8"?>
<WebSite>
	 <SiteName>IT科技类模板</SiteName>
	 <FileName>model_814</FileName>
	 <SiteMaster>Realure</SiteMaster>
	 <PubDate>2007-5-29</PubDate>
	 <StyleType>主导航+双列左导航</StyleType>
	 <summary>模版描述概要：IT科技类、资讯类公司和企业。</summary>
	 <pic>preview/list_s.gif</pic>
</WebSite>